extends filemanageframe

block head
  link(rel='stylesheet', href='.../public/stylesheets/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')

block content
  table.board_list
    tr
      th No.
      th Title
      th writer
      th Date
      th Present
      th Download
    if(contents)
      - var count = 0;
      each content in contents
        -count++;
        tr
          td.number #{count}
          td.title
            a(href='/filepresent')  #{content.title}
          td.writer #{content.writer}
          td.date #{content.date}
          td.present
            a(href='/filepresent/present/#{content._id}')
              button.btn.btn-primary(type="button") Present
          td.download
              a(href='/filepresent/download/#{content._id}')
                button.btn.btn-primary(type="button") Download
        tr
          td.contents #{content.contents}
    tr
  div
    a(href='/filepresent/upload')
      button.btn.btn-primary(type="button") Upload
